---
menus:
  - page: index
    name: Home
  - name: About
    items:
      - page: about_branch.html
        name: The Branch
      - page: white_rose_festival.html
        name: The White Rose festival
      - page: about_scottish.html
        name: Scottish Country Dancing
      - page: newsletters.html
        name: Newsletters
      - page: branch_members.html
        name: Branch Responsibilities
  - name: Classes
    items:
      - page: classes.html
        name: Branch Classes
      - page: local.html
        name: Local Groups
  - name: Events
    items:
      - page: events.html
        name: Branch Events
      - page: leeds_events.html
        name: Local Events
      - page: special_events.html
        name: Day Events
      - page: weekend_events.html
        name: Weekend Events
  - page: resources
    name: Resources
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  {{#if pageDescription}}
  <meta name="Description" content="{{{pageDescription}}}">
  {{/if}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{pageTitle}}</title>
  <style>
  .initial-fade {
    opacity: 0.1;
    transition: opacity 0.3s;
  }
  </style>
  <link rel="shortcut icon" type="image/png" href="images/favicon2.png" />
  {{{jsonLd}}}
</head>
{{#minify}}
<body>
 <div class="container-fluid initial-fade">
   <nav class="navbar navbar-inverse navbar-fixed-top">
     <div id="logo-row" class="clearfix">
       <div class="branch-logo"></div>
       <div class="scottish-logo"></div>
    </div>
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
     </div>
     <div id="main-menu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#each menus}}

          {{#if page}}<li><a href="{{page}}.html">{{name}}</a></li>{{/if}}

          {{#if items}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{name}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {{#each items}}
                  <li><a href="{{page}}">{{name}}</a></li>
                {{/each}}
              </ul>
            </li>
          {{/if}}

        {{/each}}
      </ul>
     </div>
   </nav>

  <div style="height: 160px">
  </div>

  {{> body  }}

  <div style="height: 68px">
  </div>
</div>

{{#if footer}}
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid" style="margin-top: 10px">
    <div class="col-sm-3 col-xs-12">
			<a href="http://www.facebook.com/pages/Rscds-Leeds-Branch/134876863288229?sk=wall"><div class="facebook"></div></a>
		</div>
		<div class="col-sm-3 col-xs-12">
		  <a href="https://twitter.com/RSCDSLeeds" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @RSCDSLeeds</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
    <div class="col-sm-3 col-xs-6">
      Registered Charity No. 1072452
    </div>
    <div class="col-sm-3 col-xs-6 text-right">
  	{{{emailWithLabel 'adrian@setandlink.org.uk' 'Email us'}}}
  	</div>
  </div>

</nav>
{{/if}}

<link rel="stylesheet" href="vendor/bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/site.css?{{ fileHash 'dist/stylesheets/site.css' 10 }}">

<script src="vendor/jquery-1.12.3.min.js"></script>
<script src="vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="javascripts/site.js?{{ fileHash 'dist/javascripts/site.js' 10 }}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68990794-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
$(document).ready(function() {
    headerScroll();
  	{{#each scripts}}
  		{{this}}
  	{{/each}}
 });
</script>

</body>
{{/minify}}
</html>
