---
menus:
  - page: index
    name: Home
  - name: About
    items:
      - page: about_branch
        name: History
      - page: about_scottish
        name: Scottish Country Dancing
      - page: branch_members
        name: Branch Responsibilities
  - page: classes
    name: Classes
  - page: events
    name: Events
  - page: news
    name: News
---
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="stylesheets/site.css?t=080915-2000">
  <link rel="stylesheet" href="vendor/slick/slick.css">
  <link rel="stylesheet" href="vendor/slick/slick-theme.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  </style>
</head>

<body>
	<div id="banner">
	   <div class="logo"></div>
		<div class="dance-scottish-logo"></div>
		<div class="menu-text-bar">					
			<ul id="menu-events" class="squarewhite">
			
			{{#each menus}}
				<li class="level-0">
					{{#if page}} <a href="{{page}}.html">{{name}}</a>
					{{else}} {{name}}
					{{/if}}
					{{#if items}}
						<ul>
						{{#each items}}
							<li>
								{{#if page}} <a href="{{page}}.html">{{name}}</a>
								{{else}} {{name}}
								{{/if}}
							</li>
						{{/each}}
						</ul>
					{{/if}}
				</li>	
			{{/each}}
			
			</ul>

		</div>
	</div>

<div style="height: 160px">
</div>

{{> body  }} 

<script src="vendor/jquery.js"></script>
<script src="vendor/jquery.mnmenu.0.0.17.js"></script>
<script src="javascripts/site.js?t=080915-2000"></script>
<script src="vendor/slick/slick.min.js"></script> 
  
<script>
$(document).ready(function() {
    headerScroll();
    
    $('#menu-events').mnmenu();
    
  	{{#each scripts}}
  		{{this}} 
  	{{/each}}
 });
</script>


</body>
</html>
