---
menus:
  - page: index
    name: Home
  - name: About
    items:
      - page: about_branch
        name: History
      - page: about_scottish
        name: About Scottish Country Dancing
      - page: branch_members
        name: Responsibilities
  - page: classes
    name: Classes
  - page: events
    name: Events
---
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <title>{{pageTitle}}</title>
  <script src="javascripts/vendor.js"></script>
  <script src="javascripts/site.js"></script>
  <link rel="stylesheet" href="stylesheets/site.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  </style>
</head>

<body>
	<div id="banner">
	   <div class="logo"></div>
		<div class="dance-scottish-logo"></div>
		<div class="menu-text-bar">					
			<ul id="menu-events" class="squarewhite">
			
			{{#each menus}}
				<li class="level-0">
					{{#if page}} <a href="{{page}}.html">{{name}}</a>
					{{else}} {{name}}
					{{/if}}
					{{#if items}}
						<ul>
						{{#each items}}
							<li>
								{{#if page}} <a href="{{page}}.html">{{name}}</a>
								{{else}} {{name}}
								{{/if}}
							</li>
						{{/each}}
						</ul>
					{{/if}}
				</li>	
			{{/each}}
			
			</ul>

		</div>
	</div>

<div style="margin-top: 160px">
</div>

{{> body  }} 

<br/>
<br/>
<a href="http://www.facebook.com/pages/Rscds-Leeds-Branch/134876863288229?sk=wall"><div class="facebook"></div></a>

<script>
$(document).ready(function() {
    headerScroll();
    
    $('#menu-events').mnmenu();
    
  	{{#each scripts}}
  		{{this}} 
  	{{/each}}
 });
</script>


</body>
</html>
