---
menus:
  - page: index
    name: Home
  - name: About
    items:
      - page: about_branch.html
        name: The Branch
      - page: about_scottish.html
        name: Scottish Country Dancing
      - page: newsletters.html
        name: Newsletters
      - page: branch_members.html
        name: Branch Responsibilities
  - name: Classes
    items:
      - page: classes.html
        name: Branch Classes
      - page: local.html
        name: Local Groups
  - name: Events
    items:
      - page: events.html
        name: Branch Events
      - page: leeds_events.html
        name: Events
      - page: special_events.html
        name: Special Branch Events
  - page: resources
    name: Resources
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  {{#if pageDescription}}
  <meta name="Description" content="{{{pageDescription}}}">
  {{/if}}
  <!--meta name="viewport" content="width=1060, initial-scale=1.0"-->
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="stylesheets/site.css?{{ fileHash 'dist/stylesheets/site.css' 10 }}">
  <link rel="stylesheet" href="vendor/slick/slick.css">
  <link rel="stylesheet" href="vendor/slick/slick-theme.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/png" href="images/favicon2.png" />
  <style>
  </style>
</head>

<body>
	<div id="banner">
		<div class="banner-logo logo"></div>
		<div class="banner-logo dance-scottish-logo"></div>
		<div class="menu-text-bar-wrapper">
			<div class="menu-text-bar">					
				<ul id="menu-events" class="squarewhite">
			
				{{#each menus}}
					<li class="level-0">
						{{#if page}} <a href="{{page}}.html">{{name}}</a>
						{{else}} {{name}}
						{{/if}}
						{{#if items}}
							<ul>
							{{#each items}}
								<li>
									{{#if page}} <a href="{{page}}">{{name}}</a>
									{{else}} {{name}}
									{{/if}}
								</li>
							{{/each}}
							</ul>
						{{/if}}
					</li>	
				{{/each}}
			
				</ul>

			</div>
		</div>
	</div>

<div style="height: 140px">
</div>

{{> body  }} 

<script src="vendor/jquery.js"></script>
<script src="vendor/jquery.mnmenu.0.0.17.js"></script>
<script src="javascripts/site.js?{{ fileHash 'dist/javascripts/site.js' 10 }}"></script>
<script src="vendor/slick/slick.min.js"></script> 
  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68990794-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
$(document).ready(function() {
    headerScroll();
    
    $('#menu-events').mnmenu();
    
  	{{#each scripts}}
  		{{this}} 
  	{{/each}}
 });
</script>


</body>
</html>
