---
pageTitle: "Who's who"
scripts: ["handleEmailLinks();"]
pageDescription: "Branch committee members and the branch constitution"
teachers:
   - name: Brenda Burnell
     email: brenda.gunny@talktalk.net
   - name: Catherine Livsey
     email: cllivsey@gmail.com
   - name: Donald Andrews
     email: donald@hbandrews.fsnet.co.uk
   - name: Irene Dracup
     email: glyn.cup@virginmedia.com
---
<h1>Branch Responsibilities</h1>
<h2>Branch Officers 2015/2016</h2>
<div class="row">
	<div class="col-md-3 col-xs-4 text-info">Chairman</div>
	<div class="col-md-3 col-xs-4">Irene Dracup</div>
  <div class="col-md-3 col-xs-4">{{{email 'chairman@rscdsleeds.org.uk'}}}</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-4 text-info">Treasurer</div>
	<div class="col-md-3 col-sm-4">Gerry Yates</div>
  <div class="col-md-3 col-sm-4">{{{email 'treasurer@rscdsleeds.org.uk'}}}</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-4 text-info">Membership Secretary</div>
	<div class="col-md-3 col-sm-4">Brenda Burnell</div>
</div>

<h2>Branch Committee</h2>
<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-6">Mairi Devlin</div>
	<div class="col-md-3 col-sm-4 col-xs-6">Ian Clarke</div>
	<div class="col-md-3 col-sm-4 col-xs-6">Catherine Livsey</div>
	<div class="col-md-3 col-sm-4 col-xs-6">Adrian Dickin</div>
  <div class="col-md-3 col-sm-4 col-xs-6">Alan Horsfall</div>
  <div class="col-md-3 col-sm-4 col-xs-6">Aileen Gray</div>
</div>

<h2>Additional</h2>
<div class="row">
	<div class="col-md-3 col-xs-5 text-info">Newsletter Editor</div>
	<div class="col-md-3 col-xs-5">Catherine Livsey</div>
  <div class="col-md-1 col-xs-2">{{{email 'newsletter@rscdsleeds.org.uk'}}}</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-5 text-info">Branch Shop Manager</div>
	<div class="col-md-3 col-xs-5">Christine Parker-Jones</div>
  <div class="col-md-1 col-xs-2">{{{email 'sales@rscdsleeds.uk'}}}</div>
</div>

<br />
<h2>Teachers</h2>
<a id="teachers" name="teachers"></a>

{{#each teachers}}
<div class="row">
	<div class="col-md-2 col-xs-6">{{name}}</div>
  <div class="col-md-2 col-xs-6">{{{email email}}}</div>
</div>
{{/each}}


<br />
<h1>Branch Constitution</h1>
The Branch Constitution is available in Microsoft Word format. <br />
<a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2010.docx">The Branch Constitution 2010</a>
(Earlier versions: <a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2009.docx">2009</a>,
<a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2007.docx">2007</a>,
<a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2003.docx">2003</a>)

<br />
<br />
