---
pageTitle: "Who's who"
scripts: ["handleEmailLinks();"]
pageDescription: "Branch committee members and the branch constitution"
teachers:
   - name: Brenda Burnell
     email: brenda.gunny@talktalk.net
   - name: Catherine Livsey
     email: cllivsey@gmail.com
   - name: Donald Andrews
     email: donaldhbandrews@gmail.com
   - name: Irene Dracup
     email: glyn.cup@virginmedia.com
---
<h1>Branch Responsibilities</h1>
<h2>Officers &amp; Charity Trustees 2019</h2>
<div class="row">
	<div class="col-md-3 col-xs-4 text-info">Chairman</div>
	<div class="col-md-3 col-xs-4">Marion Walbank</div>
  <div class="col-md-3 col-xs-4">{{{email 'chair@rscdsleeds.org.uk'}}}</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-4 text-info">Secretary</div>
	<div class="col-md-3 col-xs-4">Evelyn Davidson</div>
  <div class="col-md-3 col-xs-4">{{{email 'secretary@rscdsleeds.org.uk'}}}</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-4 text-info">Treasurer</div>
	<div class="col-md-3 col-xs-4">Ray Williams</div>
  <div class="col-md-3 col-xs-4">{{{email 'treasurer@rscdsleeds.org.uk'}}}</div>
</div>

<h2>Non-elected/non-voting Committee members</h2>
<div class="row">
	<div class="col-md-3 col-sm-4 text-info">Membership Secretary</div>
	<div class="col-md-3 col-sm-4">Brenda Burnell</div>
  <div class="col-md-3 col-sm-4">{{{email 'membership@rscdsleeds.org.uk'}}}</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-5 text-info">Shop Manager</div>
	<div class="col-md-3 col-xs-5">Christine Parker-Jones</div>
  <div class="col-md-1 col-xs-2">{{{email 'sales@rscdsleeds.uk'}}}</div>
</div>

<h2>Committee Members</h2>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6">Alan Horsfall (Vice -Chair)</div>
  <div class="col-md-3 col-sm-4 col-xs-6">John Pugh (Assistant Treasurer)</div>
  <div class="col-md-3 col-sm-4 col-xs-6">Jill Woodman (Minute Secretary)</div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6">Nicola Waugh</div>
  <div class="col-md-3 col-sm-4 col-xs-6">Elisabeth Pugh</div>
  <div class="col-md-3 col-sm-4 col-xs-6">Sharon Taylor</div>
</div>

<h2>Additional</h2>
<div class="row">
	<div class="col-md-3 col-xs-5 text-info">Newsletter Editor</div>
	<div class="col-md-3 col-xs-5">Catherine Livsey</div>
  <div class="col-md-1 col-xs-2">{{{email 'newsletter@rscdsleeds.org.uk'}}}</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-5 text-info">Webmaster</div>
  <div class="col-md-3 col-xs-5">Adrian Dickin</div>
  <div class="col-md-1 col-xs-2">{{{email 'webmaster@rscdsleeds.org.uk'}}}</div>
</div>

<br />
<h2>Teachers</h2>
<a id="teachers" name="teachers"></a>

{{#each teachers}}
<div class="row">
	<div class="col-md-2 col-xs-6">{{name}}</div>
  <div class="col-md-2 col-xs-6">{{{email email}}}</div>
</div>
{{/each}}


<br />
<h1>Teachers' Library</h1>
The <a href="library.html">teachers' library</a> has books that are available for lending.
<br />

<h1>Branch Constitution</h1>
The latest Branch Constitution is available as a PDF, older versions are in Microsoft Word format. <br />
<a href="http://www.rscdsleeds.org.uk/BranchAdmin/2018 Constitution Leeds RSCDS.pdf">The Branch Constitution 2018</a>
(Earlier versions:
<a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2010.docx">2010</a>,
<a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2009.docx">2009</a>,
<a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2007.docx">2007</a>,
<a href="http://www.rscdsleeds.org.uk/BranchAdmin/Constitution2003.docx">2003</a>)

<br />
<br />
