---
pageTitle: "Dancing calendar"
scripts: []
pageDescription: "Scottish Country Dancing calendar for the Leeds area"
---
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Months</h3>
      </div>
      <table class="calendar" style="width: 100%">
      {{#calendar}}
        {{#each weeks}}
        <tr>
          {{#if @first}}
            <td rowspan="{{../../numberOfWeeks}}" class="first-column">
              {{#each ../../name}}
                {{this}}<br>
              {{/each}}
            </td>
          {{/if}}
          {{#each this}}
          <td class="{{#if shade}}shade{{/if}} {{#if today}}today{{/if}}">
            <div style="float: left; font-size: 80%; width: 16px; min-height: 10px; color: red; font-weight: bold">
              {{#if eventDetails.isLocal}}L<br>{{/if}}
            </div>
            {{day}}
            <div style="float: right; font-size: 80%; width: 16px; min-height: 10px; color: red; font-weight: bold">
              {{#if eventDetails.isBranch}}B<br>{{/if}}
              {{#if eventDetails.isSpecial}}S<br>{{/if}}
            </div>
          </td>
          {{/each}}
        </tr>
        {{/each}}

      {{/calendar}}
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <ul class="list-group">
      {{#calendarEvents}}
  		<li class="list-group-item">
  			<div class="row">
          <div class="col-md-6">
            <h4 class="list-group-item-heading">{{date}} {{date2}}</h4>
            <div style="position: absolute; left: 2px; top: -2px; color: red; font-size: 80%; font-weight: bold">
              {{#if isLocal}}L<br>{{/if}}
              {{#if isBranch}}B<br>{{/if}}
              {{#if isSpecial}}S<br>{{/if}}
            </div>
          </div>
          <div class="col-md-6">
              {{event}}
          </div>
        </div>
      </li>
      {{/calendarEvents}}
    </ul>

  </div>
</div>
