---
pageTitle: "Dancing calendar"
scripts: ['showToday();',
          'calendarPopovers();']
pageDescription: "Scottish Country Dancing calendar for the Leeds area"
---
<div class="row">
  <div class="col-md-7">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Months</h3>
      </div>
      <table class="calendar">
        <tr style="color: white; background: #2fa4e7">
          <th class="first-column"></th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
        </tr>
      {{#calendar}}
        {{#each weeks}}
        <tr>
          {{#if @first}}
            <td rowspan="{{../../numberOfWeeks}}" class="first-column">
              {{#each ../../name}}
                {{this}}<br>
              {{/each}}
            </td>
          {{/if}}
          {{#each this}}
          <td id="{{dayId}}" class="{{#if shade}}shade{{/if}}">
            <div class="day">{{day}}</div>
            {{#if eventDetails.hasEvent}}
              <a class="btn btn-primary btn-xs pull-left" role="button" data-toggle="popover" data-id="{{eventDetails.key}}">
                {{#if eventDetails.isLocal}}L{{/if}}
                {{#if eventDetails.isBranch}}B{{/if}}
                {{#if eventDetails.isSpecial}}S{{/if}}
                {{#if eventDetails.isWeekend}}W{{/if}}
              </a>
            {{/if}}
          </td>
          {{/each}}
        </tr>
        {{/each}}

      {{/calendar}}
      </table>
    </div>
  </div>

  <div class="col-md-5">
    <ul class="list-group">
      {{#calendarEvents}}
  		<li class="list-group-item">
  			<div class="row">
          <div class="col-xs-7">
            <h4 class="list-group-item-heading">
              {{#if isLocal}}<span class="badge">L</span>{{/if}}
              {{#if isBranch}}<span class="badge">B</span>{{/if}}
              {{#if isSpecial}}<span class="badge">S</span>{{/if}}
              {{#if isWeekend}}<span class="badge">W</span>{{/if}}
              {{date}} {{date2}}</h4>
          </div>
          <div class="col-xs-5">
              {{event}}
          </div>
        </div>
      </li>
      {{/calendarEvents}}
    </ul>

  </div>
</div>

{{{eventsData}}}
