---
pageTitle: "Branch Classes"
scripts: []
pageDescription: "Leeds RSCDS Branch classes, teachers and the Facebook class group"
---

<div class="row">
	<div class="col-sm-6 bottom-gap">
		<h3>Summer Term 2017</h3>
		<div>W/C 24 April till W/C 22 May (short term)</div>
		<div>W/C 5 June till W/C 3 July</div>
		<div><b>Fees:</b> &pound;4.00 per class </div>
		<div>Multi Class term ticket £30 to 22 May or £60 to 3 July</div>
		<div>NEW members 10 week ticket £35 (all fees &frac12; price for those in full time education)</div>
	</div>
	<div class="col-sm-6 bottom-gap">
		<h3>Facebook</h3>
		<div>The <a href="https://www.facebook.com/groups/1675335139346252/">Leeds Branch Classes</a> facebook group provides information on class changes, such as cancellations.</div>
		<div>To see updates click and request to join the group.</div>
	</div>
</div>

<ul class="list-group">
{{#each data-classes.classes}}
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-3 col-xs-6">
				{{day}}: {{time}}
			</div>
			<div class="col-md-3 col-xs-6">
				<div>{{level}}</div>
				{{#each teacher}}
					<div><a href="branch_members.html#teachers">{{this}}</a></div>
				{{/each}}
			</div>
			<div class="col-md-3 col-xs-6">
				{{#each venue}}
					<div>{{this}}</div>
				{{/each}}
			</div>
			<div class="col-md-3 col-xs-6">
				{{#each notes}}
				<div>{{this}}</div>
				{{/each}}
			</div>
		</div>
	</li>
{{/each}}
</ul>
