---
pageTitle: "Branch Classes"
scripts: []
pageDescription: "Leeds RSCDS Branch classes"
---
<div class='body_text'>

<!--Autumn term classes are from Monday 7th Sept 2015 to 14th Dec 2015. <br/>-->
Fees are &pound;4.00 a class, term tickets are also available. <br />
<br />

<div class="heading-panel">
	<table class="tabular">
		<thead>
		    <th>Day</th>
			<th>Class</th>
			<th>Teacher</th>
			<th>Time</th>
			<th>Venue</th>
			<th>Notes</th>
		</thead>
		<tbody>
		    {{#each data-classes.classes}}
		    <tr>
		    	<td>{{day}}</td>
		    	<td>{{level}}</td>
		    	<td>
		    	{{#each teacher}}
				  <div>{{this}}</div>
				{{/each}}
		    	</td>
		    	<td>{{time}}</td>
		    	<td>
		    	{{#each venue}}
					<div>{{this}}</div>
				{{/each}}
		    	</td>
		    	<td>
				{{#each notes}}
				<div>{{this}}</div>
				{{/each}}
		    	</td>
		    </tr>
		    {{/each}}
		</tbody>
	</table>

</div>


