---
pageTitle: "Branch Classes"
scripts: []
pageDescription: "Leeds RSCDS Branch classes"
---
<div class='body_text'>

<div class="class-panel section">
	<div class="class-table">
		<div class="class-row">
			<div class="class-cell">
				<h3>Summer Term 2016</h3>
				<div>W/C 4 Apr to W/C 4 Jul 2016</div>
				<div><b>Fees:</b> &pound;4.00 per class </div>
				<div>Multi Class term ticket £84 (14 weeks) </div>
				<div>(&frac12; price for dancers in full time education)</div>
			</div>
			<div class="class-cell">
				<h3>Facebook</h3>
				<div>The <a href="https://www.facebook.com/groups/1675335139346252/">Leeds Branch Classes</a> facebook group provides information on class changes, such as cancellations.</div>
				<div>To see updates click and request to join the group.</div>
			</div>
		</div>
	</div>
</div>

{{#each data-classes.classes}}
<div class="class-block">
	<div class="class-panel">
		<div class="class-table">
			<div class="class-row">
				<div class="class-cell">
					<table class="class-table-pair">
						<tr>
							<td>
							{{day}}: {{time}}
							</td>
							<td>
								<div>{{level}}</div>
								{{#each teacher}}
								  <div><a href="branch_members.html#teachers">{{this}}</a></div>
								{{/each}}
							</td>
						</tr>
					</table>
				</div>
				<div class="class-cell">
					<table class="class-table-pair">
						<tr>
							<td>
							{{#each venue}}
								<div>{{this}}</div>
							{{/each}}
							</td>
							<td>
								{{#each notes}}
								<div>{{this}}</div>
								{{/each}}							
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{{/each}}



