---
pageTitle: "Branch Classes"
scripts: ["handleEmailLinks();"]
pageDescription: "Leeds RSCDS Branch classes, teachers and the Facebook class group"
---

<div class="row">
	<div class="col-sm-6 col-md-4 bottom-gap">
		<h3>Current Term</h3>
		<div>W/C 29 Apr to W/C 20 May 2019</div>
		<div><b>Fees:</b> &pound;4.00 per class </div>
		<div>Ten class ticket £35 for <i>members only</i></div>
		<div>(all fees &frac12; price for those in full time education)</div>
	</div>
	<div class="col-sm-6 col-md-4 bottom-gap">
		<h3>Upcoming Terms</h3>
		<div>W/C 3 Jun to W/C 8 Jul 2019</div>
	</div>
	<div class="col-sm-6 col-md-4 bottom-gap">
		<h3>Facebook</h3>
		<div>The <a href="https://www.facebook.com/groups/1675335139346252/">Leeds Branch Classes</a> facebook group provides information on class changes, such as cancellations.</div>
		<div>To see updates click and request to join the group.</div>
	</div>
</div>

<ul class="list-group">
{{#each data-classes.classes}}
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-3 col-xs-6">
				{{day}}: {{time}}
			</div>
			<div class="col-md-3 col-xs-6">
				<div>{{level}}</div>
				{{#each teacher}}
					<div>{{name}} {{{email email}}}</div>
				{{/each}}
			</div>
			<div class="col-md-3 col-xs-6">
				{{#if alert}}
					<div class="note">{{alert}}</div>
				{{/if}}
				{{#each venue}}
					<div>{{this}}</div>
				{{/each}}
			</div>
			<div class="col-md-3 col-xs-6">
				{{#if details}}
				<a href="{{details.link}}">{{details.name}}</a>
				{{/if}}
				{{#each notes}}
				<div>{{this}}</div>
				{{/each}}
			</div>
		</div>
	</li>
{{/each}}
</ul>
