---
pageTitle: "Branch Events"
scripts: []
---
<div class='body_text'>

	<div class="heading-panel">
		<table class="tabular">
			<thead>
				<th>Date</th>
				<th>Event</th>
				<th>Band/Teacher</th>
				<th>Location</th>
				<th>Details</th>
			</thead>
			<tbody>
			{{#each data-events.events}}
				<tr>
					<td>
						{{date}}
						{{#if date2}}
						<br/>{{date2}}<br/><br/>
						{{/if}}
					</td>
					<td>
						{{event}}
						{{#if time}}
						  <p> {{time}}</p>
						{{/if}}
					</td>
					<td>
						{{actor}}
						{{#if actor2}}
						<br/>{{actor2}}
						{{/if}}
					</td>
					<td>
						<div>{{location-top}}</div>
						<div>
						{{#each location}}  				
							<div>{{this}}</div>
						{{/each}}
						</div>
					</td>
					<td>
						{{#if programme}}
						<a href="{{programme}}">Programme</a> <br/>
						{{/if}}
						{{#if crib}}
						<a href="{{crib}}">Crib with diagrams</a> <br/>
						{{/if}}
			
						{{#each details}}
						<div>
							<a href="{{link}}">{{name}}</a>
						</div>
						{{/each}}		
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
	
</div>
