---
pageTitle: "RSCDS Leeds Branch"
scripts: ["eventLinks();",
          "handleEmailLinks();"]
eventLinks:
   - date: 28th Jan
     name: Burns Celebration Dance
   - date: 20th Feb
     name: Branch Dance
   - date: 19th Mar
     name: Branch Dance
leedsEventLinks:
   - date: 30th Jan
     name: Club Dance
specialEventLinks:
   - date: 30th Jan
     name: Musicians' Workshop
   - date: 19th Mar 
     name: Children's Festival
   - date: 1st - 3rd Apr
     name: Scarborough Weekend
pageDescription: The Leeds branch of the Royal Scottish Country Dance Society.
---

<div id="upcoming-events">
	<table>
		<tr>
			<td id="upcoming-branch-events">
				<h2>Branch Events</h2>
				<div class="light-heading-panel">
					<table class="tabular">
						<tbody>
						{{#each eventLinks}}
							<tr>
								<td>{{date}}</td>
								<td><a href="events.html">{{name}}</a></td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
			</td>
			<td id="upcoming-other-events">
				<h2>Leeds events</h2>
				<div class="light-heading-panel">
					<table class="tabular">
					{{#each leedsEventLinks}}
						<tr>
							<td>{{date}}</td>
							<td><a href="leeds_events.html">{{name}}</a></td>
						</tr>
					{{/each}}
					</table>
				</div>
			</td>			
			<td id="upcoming-special-events">
				<h2>Special Branch events</h2>
				<div class="light-heading-panel">
					<table class="tabular">
					{{#each specialEventLinks}}
						<tr>
							<td>{{date}}</td>
							<td><a href="special_events.html">{{name}}</a></td>
						</tr>
					{{/each}}
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>


<div id="menu-button-bar">
	<div class="menu-button-wrapper">
		<a href="about_scottish.html">
			<div class="menu-button menu-dancers1-button"></div>
			<h3>New to Scottish Dancing</h3>
		</a>
		What is Scottish Country Dancing and why take it up.
	</div>
	<div class="menu-button-wrapper">
		<a href="events.html">
		  <div class="menu-button menu-events-button"></div>
		  <h3>Branch Events</h3>
		</a>
	</div>
	
	<!--div class="menu-button-wrapper">
		<a href="http://whiterosefestival.uk/">
		  <div class="menu-button menu-whiterose-button"></div>
		  <h3>White Rose Festival</h3>
		</a>
	</div-->	
	
	<div class="menu-button-wrapper">
		<a href="http://rscdsleeds.uk/index.php">
			<div class="menu-button menu-shopping-button"></div>
			<h3>Branch Shop</h3>
		</a>		
	</div>
</div>

<div class="footer_area">
	<div class="footer-social">
		<div class="facebook_wrapper">
			<a href="http://www.facebook.com/pages/Rscds-Leeds-Branch/134876863288229?sk=wall"><div class="facebook"></div></a>
		</div>
		<div class="twitter_wrapper">		
		  <a href="https://twitter.com/RSCDSLeeds" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @RSCDSLeeds</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
	</div>
	<div class="webmaster_wrapper">
		Webmaster: {{{email 'adrian@setandlink.org.uk'}}}
	</div>
</div>

